.schedule-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 16px;
  height: 100%;
}

@media screen and (max-width: 1024px) {
  .schedule-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .schedule-grid {
    grid-template-columns: 1fr;
    gap: 24px;
  }
}

.day-column-header {
  text-align: center;
  color: var(--md-sys-color-on-surface);
  border-bottom: 2px solid var(--md-sys-color-outline);
  padding-bottom: 8px;
  margin-bottom: 12px;
  font-size: 18px;
  font-weight: bold;
}
